.edit__container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
.edit {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 1;
  padding: 10px 20px 10px;
}
.edit__title {
  font-size: 17px;
  font-weight: 600;
  margin: 5px 0 3px;
}

.edit__select,
.edit__input {
  padding: 8px 10px;
  border: 1px solid rgb(183, 186, 194);
  color: rgba(16, 24, 52, 0.8);
  border-radius: 5px;
}

.edit__select {
  margin-bottom: 15px;
}

.edit__options {
  display: flex;
  flex-direction: column;
}

.btn__add {
  padding: 8px 20px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}
