.group-container {
  padding: 10px 300px;
  display: flex;
  flex-direction: column;
}

.pr-t {
  color: rgb(20, 86, 204);
}

.group-container h1 {
  text-align: center;
}

.group__list-item {
  display: flex;
}

.group__item-name {
  margin-right: auto;
}

.coowner__item {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  margin-right: 6px;
}

.detail__icon-container {
  padding: unset !important;
}

.delete-icon,
.edit-icon {
  transition: all 1s linear;
}

.delete-icon:hover {
  color: #dc4c64;
}

.edit-icon:hover {
  color: #14a44d;
}

.delete-icon:hover,
.edit-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.btn-create {
  border: none;
  padding: 10px;
  color: white;
  background-color: green;
}

.group__list {
  margin-bottom: 20px;
}

hr {
  border: 2px dashed #333;
  width: 50%;
  margin-left: 25%;
}

.btn-group__copy {
  border: 2px solid rgb(20, 86, 204);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  transition: all 0.3s linear;
  margin-top: 10%;
}

.btn-group__copy:hover {
  background-color: black;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
}

.btn-group__email {
  background-color: rgb(20, 86, 204);
  border: none;
  color: white;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s linear;
  width: 100%;
  margin-top: 10px;
}

.btn-group__email:hover {
  background-color: rgb(13, 64, 154);
}
