.group-container {
  padding: 10px 300px;
  display: flex;
  flex-direction: column;
}

.group-container h1 {
  text-align: center;
}

.group-icons {
  margin-left: 480px;
}

.delete-icon {
  margin-right: 10px;
}

.btn-create {
  border: none;
  padding: 10px;
  color: white;
  background-color: green;
}
