.m-r {
  margin-right: auto !important;
}

.black {
  color: black !important;
}

.quiz__header {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(231, 232, 235);
  border-bottom: 1px solid rgb(231, 232, 235);
}

.quiz__btn {
  border: none;
  border-radius: 3px;
  margin: 0 3px;
  padding: 8px 12px;
  font-weight: 600;
  background-color: transparent;
}

.quiz__btn--b {
  background-color: rgb(20, 86, 204);
  color: white;
}

.quiz__btn--g {
  background-color: rgb(175, 176, 180);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.quiz__content {
  width: 100%;
  background: rgb(175, 176, 180);
}

.quiz__btn--present {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin-left: 8px;
}

.quiz__btn--save {
  transition: all 0.2s linear;
}

.quiz__btn--save:hover {
  background-color: rgb(175, 176, 180);
}

.quiz__icon-play {
  color: white;
  font-size: 22px;
}
